In [25]:
import pandas as pd
import numpy as np

In [26]:
base_dados = pd.read_csv('C:/Users/tteve/OneDrive/Área de Trabalho/Pesquisa/Aplicação de ML/LoanData_Bondora.csv', low_memory=False)

In [27]:
base_dados

,ReportAsOfEOD,LoanId,LoanNumber,ListedOnUTC,BiddingStartedOn,BidsPortfolioManager,BidsApi,BidsManual,UserName,NewCreditCustomer,...,PreviousEarlyRepaymentsCountBeforeLoan,GracePeriodStart,GracePeriodEnd,NextPaymentDate,NextPaymentNr,NrOfScheduledPayments,ReScheduledOn,PrincipalDebtServicingCost,InterestAndPenaltyDebtServicingCost,ActiveLateLastPaymentCategory
0,2021-07-20,66AE108B-532B-4BB3-BAB7-0019A46412C1,483449,2016-03-23 16:07:19,2016-03-23 16:07:19,970,1150,5.0,BO965519,False,...,0.0,2019-10-28,2020-01-27,NaN,NaN,NaN,NaN,0.00,51.73,31-60
1,2021-07-20,D152382E-A50D-46ED-8FF2-0053E0C86A70,378148,2015-06-25 11:02:28,2015-06-25 11:02:28,1295,0,1705.0,BOA9K172A,False,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,0.00,47.08,180+
2,2021-07-20,87342E13-66CB-483F-833A-007953E50C78,451831,2016-01-14 10:00:21,2016-01-14 10:00:21,2700,565,5835.0,BO7971663,True,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,259.67,1659.60,180+
3,2021-07-20,87227056-6BF9-410C-98D1-008F788E122A,349381,2015-03-24 15:55:44,2015-03-24 15:55:44,1115,0,385.0,BO76151K3,True,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,0.00,215.05,180+
4,2021-07-20,2DDE6336-E466-4624-A337-00A0ED1A1468,443082,2015-12-17 10:12:00,2015-12-17 10:12:00,305,0,785.0,BOK423A63,True,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00,180+
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179230,2021-07-20,D9E714C3-B9B8-4FD1-B1AD-FF55B3AE8A8F,323749,2015-03-02 07:07:05,2015-03-02 07:07:05,2000,0,0.0,BO6492A4A,True,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.00,18.38,180+
179231,2021-07-20,09999223-3D69-42E3-BAAA-FF7F312AB236,468598,2016-02-17 10:17:35,2016-02-17 10:17:35,6215,70,1155.0,BO542A57A,False,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00,NaN
179232,2021-07-20,370193A5-D19C-4A99-97F7-FF95BEA52731,462572,2016-02-05 09:35:26,2016-02-05 09:35:26,430,0,1055.0,BO65A965,False,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00,NaN
179233,2021-07-20,98D9FCCE-0FD7-420E-9F7F-FFA960669E8B,396046,2015-08-17 17:23:05,2015-08-17 17:23:05,3000,0,0.0,BO9577433,True,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00,NaN
179234,2021-07-20,65C924CD-8AAF-4ECC-9C8F-FFB0C5722CBB,374840,2015-06-15 10:22:34,2015-06-15 10:22:34,0,0,1300.0,avo1007,False,...,2.0,2016-04-27,2017-04-27,NaN,NaN,NaN,NaN,0.00,2.64,180+

In [28]:
base_dados.shape

(179235, 112)

In [29]:
base_dados["Status"].value_counts()

Status
Late       68574
Current    57774
Repaid     52887
Name: count, dtype: int64

Apagando features que creio que nao tenham importancia:

In [30]:
remove_df = [
    'ReportAsOfEOD',
    'LoanId',
    'LoanNumber',
    'ListedOnUTC',
    'BiddingStartedOn',
    'UserName',
    'LoanApplicationStartedDate',
    'LoanDate',
    'FirstPaymentDate',
    'MaturityDate_Original',
    'MaturityDate_Last',
    'ApplicationSignedHour',
    'ApplicationSignedWeekday',
    'LanguageCode',
    'Gender',
    'Country',
    'Education'
    'MaritalStatus',
    'MonthlyPaymentDay',
    'ActiveScheduleFirstPaymentReached',
    'LastPaymentOn',
    'ExpectedLoss',
    'ExpectedReturn',
    'ProbabilityOfDefault',
    'RecoveryStage',
    'StageActiveSince',
    'ModelVersion',
    'Rating',
    'Restructured',
    'CreditScoreEsMicroL',
    'DateOfBirth',
    'County',
    'City',
    'NrOfDependants',
    'EmploymentPosition',
    'CurrentDebtDaysPrimary',
    'DebtOccuredOn',
    'CurrentDebtDaysSecondary',
    'DebtOccuredOnForSecondary',
    'DefaultDate',
    'EL_V0',
    'Rating_V0',
    'EL_V1',
    'Rating_V1',
    'Rating_V2',
    'CreditScoreEsEquifaxRisk',
    'CreditScoreFiAsiakasTietoRiskGrade',
    'CreditScoreEeMini',
    'GracePeriodStart',
    'GracePeriodEnd',
    'NextPaymentDate',
    'ReScheduledOn',
    'ActiveLateLastPaymentCategory',
    'EmploymentDurationCurrentEmployer'
]

In [31]:
base_dados = base_dados.drop(columns=remove_df, errors='ignore')

In [32]:
base_dados.shape

(179235, 60)

In [33]:
base_dados.isnull().sum()

BidsPortfolioManager                           0
BidsApi                                        0
BidsManual                                     0
NewCreditCustomer                              0
ContractEndDate                            76239
VerificationType                              50
Age                                            0
AppliedAmount                                  0
Amount                                         0
Interest                                       0
LoanDuration                                   0
MonthlyPayment                              6690
UseOfLoan                                      0
Education                                     50
MaritalStatus                                 50
EmploymentStatus                             202
WorkExperience                            142713
OccupationArea                                91
HomeOwnershipType                           1657
IncomeFromPrincipalEmployer                    0
IncomeFromPension                              0
IncomeFromFamilyAllowance                      0
IncomeFromSocialWelfare                        0
IncomeFromLeavePay                             0
IncomeFromChildSupport                         0
IncomeOther                                    0
IncomeTotal                                    0
ExistingLiabilities                            0
LiabilitiesTotal                               0
RefinanceLiabilities                           0
DebtToIncome                                  50
FreeCash                                      50
PlannedPrincipalTillDate                  124771
PlannedInterestTillDate                     1974
LossGivenDefault                            2639
PrincipalOverdueBySchedule                 14843
PlannedPrincipalPostDefault               107820
PlannedInterestPostDefault                107820
EAD1                                      107821
EAD2                                      107821
PrincipalRecovery                         107820
InterestRecovery                          107820
Status                                         0
ActiveLateCategory                        104251
WorseLateCategory                          52329
PrincipalPaymentsMade                          0
InterestAndPenaltyPaymentsMade                 0
PrincipalWriteOffs                        103085
InterestAndPenaltyWriteOffs               103085
PrincipalBalance                               0
InterestAndPenaltyBalance                   5232
NoOfPreviousLoansBeforeLoan                    9
AmountOfPreviousLoansBeforeLoan                9
PreviousRepaymentsBeforeLoan               62386
PreviousEarlyRepaymentsBefoleLoan         120350
PreviousEarlyRepaymentsCountBeforeLoan         9
NextPaymentNr                              66944
NrOfScheduledPayments                      66944
PrincipalDebtServicingCost                103085
InterestAndPenaltyDebtServicingCost       103085
dtype: int64

In [34]:
categoricos = base_dados.select_dtypes("object")
null_count_cat = categoricos.isnull().sum()
print(null_count_cat[null_count_cat > 0])

ContractEndDate        76239
WorkExperience        142713
ActiveLateCategory    104251
WorseLateCategory      52329
dtype: int64

In [35]:
categoricos

,ContractEndDate,WorkExperience,Status,ActiveLateCategory,WorseLateCategory
0,2020-06-26,15To25Years,Late,180+,180+
1,NaN,MoreThan25Years,Late,180+,180+
2,2019-10-24,MoreThan25Years,Repaid,180+,180+
3,NaN,5To10Years,Late,180+,180+
4,NaN,5To10Years,Late,180+,180+
...,...,...,...,...,...
179230,NaN,10To15Years,Late,180+,180+
179231,2017-09-19,15To25Years,Repaid,NaN,NaN
179232,2016-04-21,15To25Years,Repaid,NaN,16-30
179233,2020-09-10,MoreThan25Years,Repaid,NaN,NaN
179234,2017-12-18,15To25Years,Repaid,180+,180+

In [36]:
base_dados = base_dados.drop(columns=['ContractEndDate', 'WorkExperience', 'ActiveLateCategory', 'WorseLateCategory'])

In [37]:
base_dados

,BidsPortfolioManager,BidsApi,BidsManual,NewCreditCustomer,VerificationType,Age,AppliedAmount,Amount,Interest,LoanDuration,...,InterestAndPenaltyBalance,NoOfPreviousLoansBeforeLoan,AmountOfPreviousLoansBeforeLoan,PreviousRepaymentsBeforeLoan,PreviousEarlyRepaymentsBefoleLoan,PreviousEarlyRepaymentsCountBeforeLoan,NextPaymentNr,NrOfScheduledPayments,PrincipalDebtServicingCost,InterestAndPenaltyDebtServicingCost
0,970,1150,5.0,False,4.0,53,2125.0,2125.0,20.97,60,...,433.60,1.0,500.0,590.95,0.0,0.0,NaN,NaN,0.00,51.73
1,1295,0,1705.0,False,1.0,50,3000.0,3000.0,17.12,60,...,2291.82,1.0,1800.0,445.26,3000.0,1.0,NaN,NaN,0.00,47.08
2,2700,565,5835.0,True,4.0,44,10630.0,9100.0,13.67,60,...,0.00,0.0,0.0,0.00,0.0,0.0,NaN,NaN,259.67,1659.60
3,1115,0,385.0,True,3.0,42,1500.0,1500.0,40.40,60,...,2833.83,0.0,0.0,0.00,1500.0,1.0,NaN,NaN,0.00,215.05
4,305,0,785.0,True,4.0,34,1595.0,1090.0,68.39,48,...,4215.37,0.0,0.0,0.00,0.0,0.0,NaN,NaN,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179230,2000,0,0.0,True,1.0,38,2000.0,2000.0,33.79,60,...,4284.86,0.0,0.0,0.00,0.0,0.0,NaN,NaN,0.00,18.38
179231,6215,70,1155.0,False,4.0,37,7440.0,7440.0,24.52,60,...,0.00,2.0,2500.0,986.78,0.0,0.0,NaN,NaN,0.00,0.00
179232,430,0,1055.0,False,1.0,37,1595.0,1485.0,64.51,60,...,0.00,3.0,2425.0,2749.65,1200.0,1.0,NaN,NaN,0.00,0.00
179233,3000,0,0.0,True,1.0,58,3000.0,3000.0,21.62,60,...,0.00,0.0,0.0,0.00,0.0,0.0,NaN,NaN,0.00,0.00
179234,0,0,1300.0,False,4.0,64,1300.0,1300.0,16.38,48,...,0.00,4.0,8000.0,4462.13,2600.0,2.0,NaN,NaN,0.00,2.64

In [38]:
nullFeatures = []
for col in base_dados.columns:
    nullValues = base_dados[col].isnull().sum()
    nullPercentage = nullValues/base_dados.shape[0]
    if nullPercentage > 0.4:
        print(f"{col} : {nullPercentage*100:.2f}%")
        nullFeatures.append(col)
print(nullFeatures)

PlannedPrincipalTillDate : 69.61%
PlannedPrincipalPostDefault : 60.16%
PlannedInterestPostDefault : 60.16%
EAD1 : 60.16%
EAD2 : 60.16%
PrincipalRecovery : 60.16%
InterestRecovery : 60.16%
PrincipalWriteOffs : 57.51%
InterestAndPenaltyWriteOffs : 57.51%
PreviousEarlyRepaymentsBefoleLoan : 67.15%
PrincipalDebtServicingCost : 57.51%
InterestAndPenaltyDebtServicingCost : 57.51%
['PlannedPrincipalTillDate', 'PlannedPrincipalPostDefault', 'PlannedInterestPostDefault', 'EAD1', 'EAD2', 'PrincipalRecovery', 'InterestRecovery', 'PrincipalWriteOffs', 'InterestAndPenaltyWriteOffs', 'PreviousEarlyRepaymentsBefoleLoan', 'PrincipalDebtServicingCost', 'InterestAndPenaltyDebtServicingCost']

In [39]:
remover_quarenta = ['PlannedPrincipalTillDate', 'PlannedPrincipalPostDefault', 'PlannedInterestPostDefault', 'EAD1', 'EAD2', 'PrincipalRecovery', 'InterestRecovery', 'PrincipalWriteOffs', 'InterestAndPenaltyWriteOffs', 'PreviousEarlyRepaymentsBefoleLoan', 'NextPaymentNr', 'NrOfScheduledPayments', 'PrincipalDebtServicingCost', 'InterestAndPenaltyDebtServicingCost']

base_dados = base_dados.drop(columns=remover_quarenta)

In [40]:
base_dados

,BidsPortfolioManager,BidsApi,BidsManual,NewCreditCustomer,VerificationType,Age,AppliedAmount,Amount,Interest,LoanDuration,...,PrincipalOverdueBySchedule,Status,PrincipalPaymentsMade,InterestAndPenaltyPaymentsMade,PrincipalBalance,InterestAndPenaltyBalance,NoOfPreviousLoansBeforeLoan,AmountOfPreviousLoansBeforeLoan,PreviousRepaymentsBeforeLoan,PreviousEarlyRepaymentsCountBeforeLoan
0,970,1150,5.0,False,4.0,53,2125.0,2125.0,20.97,60,...,1155.84,Late,969.16,1187.91,1155.84,433.60,1.0,500.0,590.95,0.0
1,1295,0,1705.0,False,1.0,50,3000.0,3000.0,17.12,60,...,2436.41,Late,563.59,360.07,2436.41,2291.82,1.0,1800.0,445.26,1.0
2,2700,565,5835.0,True,4.0,44,10630.0,9100.0,13.67,60,...,0.00,Repaid,6537.00,1708.47,0.00,0.00,0.0,0.0,0.00,0.0
3,1115,0,385.0,True,3.0,42,1500.0,1500.0,40.40,60,...,1035.27,Late,464.73,355.92,1035.27,2833.83,0.0,0.0,0.00,1.0
4,305,0,785.0,True,4.0,34,1595.0,1090.0,68.39,48,...,1089.99,Late,0.01,0.00,1089.99,4215.37,0.0,0.0,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179230,2000,0,0.0,True,1.0,38,2000.0,2000.0,33.79,60,...,2000.00,Late,0.00,0.00,2000.00,4284.86,0.0,0.0,0.00,0.0
179231,6215,70,1155.0,False,4.0,37,7440.0,7440.0,24.52,60,...,NaN,Repaid,7440.00,2664.67,0.00,0.00,2.0,2500.0,986.78,0.0
179232,430,0,1055.0,False,1.0,37,1595.0,1485.0,64.51,60,...,NaN,Repaid,1485.00,186.41,0.00,0.00,3.0,2425.0,2749.65,1.0
179233,3000,0,0.0,True,1.0,58,3000.0,3000.0,21.62,60,...,0.00,Repaid,3000.00,1974.70,0.00,0.00,0.0,0.0,0.00,0.0
179234,0,0,1300.0,False,4.0,64,1300.0,1300.0,16.38,48,...,NaN,Repaid,475.78,152.98,0.00,0.00,4.0,8000.0,4462.13,2.0

In [41]:
null_count_num = base_dados.isnull().sum()
print(null_count_num[null_count_num > 0])

VerificationType                             50
MonthlyPayment                             6690
Education                                    50
MaritalStatus                                50
EmploymentStatus                            202
OccupationArea                               91
HomeOwnershipType                          1657
DebtToIncome                                 50
FreeCash                                     50
PlannedInterestTillDate                    1974
LossGivenDefault                           2639
PrincipalOverdueBySchedule                14843
InterestAndPenaltyBalance                  5232
NoOfPreviousLoansBeforeLoan                   9
AmountOfPreviousLoansBeforeLoan               9
PreviousRepaymentsBeforeLoan              62386
PreviousEarlyRepaymentsCountBeforeLoan        9
dtype: int64

In [42]:
currentLoans = base_dados[base_dados["Status"]=="Current"]
base_dados = base_dados.drop(currentLoans.index)
base_dados.shape

(121461, 42)

In [43]:
base_dados["Status"].value_counts()

Status
Late      68574
Repaid    52887
Name: count, dtype: int64