In [4]:
import pandas as pd
import numpy as np

In [5]:
base_dados = pd.read_csv('C:\\Users\\tteve\\OneDrive\\Área de Trabalho\\Pesquisa\\Aplicação\\LoanData_Bondora.csv', low_memory=False)

In [6]:
base_dados

,ReportAsOfEOD,LoanId,LoanNumber,ListedOnUTC,BiddingStartedOn,BidsPortfolioManager,BidsApi,BidsManual,UserName,NewCreditCustomer,...,PreviousEarlyRepaymentsCountBeforeLoan,GracePeriodStart,GracePeriodEnd,NextPaymentDate,NextPaymentNr,NrOfScheduledPayments,ReScheduledOn,PrincipalDebtServicingCost,InterestAndPenaltyDebtServicingCost,ActiveLateLastPaymentCategory
0,2021-07-20,66AE108B-532B-4BB3-BAB7-0019A46412C1,483449,2016-03-23 16:07:19,2016-03-23 16:07:19,970,1150,5.0,BO965519,False,...,0.0,2019-10-28,2020-01-27,NaN,NaN,NaN,NaN,0.00,51.73,31-60
1,2021-07-20,D152382E-A50D-46ED-8FF2-0053E0C86A70,378148,2015-06-25 11:02:28,2015-06-25 11:02:28,1295,0,1705.0,BOA9K172A,False,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,0.00,47.08,180+
2,2021-07-20,87342E13-66CB-483F-833A-007953E50C78,451831,2016-01-14 10:00:21,2016-01-14 10:00:21,2700,565,5835.0,BO7971663,True,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,259.67,1659.60,180+
3,2021-07-20,87227056-6BF9-410C-98D1-008F788E122A,349381,2015-03-24 15:55:44,2015-03-24 15:55:44,1115,0,385.0,BO76151K3,True,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,0.00,215.05,180+
4,2021-07-20,2DDE6336-E466-4624-A337-00A0ED1A1468,443082,2015-12-17 10:12:00,2015-12-17 10:12:00,305,0,785.0,BOK423A63,True,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00,180+
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179230,2021-07-20,D9E714C3-B9B8-4FD1-B1AD-FF55B3AE8A8F,323749,2015-03-02 07:07:05,2015-03-02 07:07:05,2000,0,0.0,BO6492A4A,True,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.00,18.38,180+
179231,2021-07-20,09999223-3D69-42E3-BAAA-FF7F312AB236,468598,2016-02-17 10:17:35,2016-02-17 10:17:35,6215,70,1155.0,BO542A57A,False,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00,NaN
179232,2021-07-20,370193A5-D19C-4A99-97F7-FF95BEA52731,462572,2016-02-05 09:35:26,2016-02-05 09:35:26,430,0,1055.0,BO65A965,False,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00,NaN
179233,2021-07-20,98D9FCCE-0FD7-420E-9F7F-FFA960669E8B,396046,2015-08-17 17:23:05,2015-08-17 17:23:05,3000,0,0.0,BO9577433,True,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00,NaN
179234,2021-07-20,65C924CD-8AAF-4ECC-9C8F-FFB0C5722CBB,374840,2015-06-15 10:22:34,2015-06-15 10:22:34,0,0,1300.0,avo1007,False,...,2.0,2016-04-27,2017-04-27,NaN,NaN,NaN,NaN,0.00,2.64,180+

In [7]:
base_dados.shape

(179235, 112)

In [8]:
base_dados["Status"].value_counts()

Status
Late       68574
Current    57774
Repaid     52887
Name: count, dtype: int64

Apagando features que nao fazem sentido:

In [9]:
remove_df = [
    'ReportAsOfEOD',
    'LoanId',
    'LoanNumber',
    'ListedOnUTC',
    'BiddingStartedOn',
    'UserName',
    'LoanApplicationStartedDate',
    'LoanDate',
    'FirstPaymentDate',
    'MaturityDate_Original',
    'MaturityDate_Last',
    'ApplicationSignedHour',
    'ApplicationSignedWeekday',
    'LanguageCode',
    'Age'
    'Gender',
    'Country',
    'Education'
    'MaritalStatus',
    'MonthlyPaymentDay',
    'ActiveScheduleFirstPaymentReached',
    'LastPaymentOn',
    'ExpectedLoss',
    'ExpectedReturn',
    'ProbabilityOfDefault',
    'RecoveryStage',
    'StageActiveSince',
    'ModelVersion',
    'Rating',
    'Restructured',
    'CreditScoreEsMicroL',
    'DateOfBirth',
    'County',
    'City',
    'NrOfDependants',
    'EmploymentPosition',
    'CurrentDebtDaysPrimary',
    'DebtOccuredOn',
    'CurrentDebtDaysSecondary',
    'DebtOccuredOnForSecondary',
    'DefaultDate',
    'EL_V0',
    'Rating_V0',
    'EL_V1',
    'Rating_V1',
    'Rating_V2',
    'CreditScoreEsEquifaxRisk',
    'CreditScoreFiAsiakasTietoRiskGrade',
    'CreditScoreEeMini',
    'GracePeriodStart',
    'GracePeriodEnd',
    'NextPaymentDate',
    'ReScheduledOn',
    'ActiveLateLastPaymentCategory',
    'EmploymentDurationCurrentEmployer'
]

In [10]:
base_dados = base_dados.drop(columns=remove_df, errors='ignore')

In [11]:
base_dados.shape

(179235, 61)

In [12]:
base_dados.isnull().sum()

BidsPortfolioManager                           0
BidsApi                                        0
BidsManual                                     0
NewCreditCustomer                              0
ContractEndDate                            76239
                                           ...
PreviousEarlyRepaymentsCountBeforeLoan         9
NextPaymentNr                              66944
NrOfScheduledPayments                      66944
PrincipalDebtServicingCost                103085
InterestAndPenaltyDebtServicingCost       103085
Length: 61, dtype: int64

In [13]:
categoricos = base_dados.select_dtypes("object")
null_count_cat = categoricos.isnull().sum()
print(null_count_cat[null_count_cat > 0])

ContractEndDate        76239
WorkExperience        142713
ActiveLateCategory    104251
WorseLateCategory      52329
dtype: int64

In [14]:
categoricos

,ContractEndDate,WorkExperience,Status,ActiveLateCategory,WorseLateCategory
0,2020-06-26,15To25Years,Late,180+,180+
1,NaN,MoreThan25Years,Late,180+,180+
2,2019-10-24,MoreThan25Years,Repaid,180+,180+
3,NaN,5To10Years,Late,180+,180+
4,NaN,5To10Years,Late,180+,180+
...,...,...,...,...,...
179230,NaN,10To15Years,Late,180+,180+
179231,2017-09-19,15To25Years,Repaid,NaN,NaN
179232,2016-04-21,15To25Years,Repaid,NaN,16-30
179233,2020-09-10,MoreThan25Years,Repaid,NaN,NaN
179234,2017-12-18,15To25Years,Repaid,180+,180+

como essas 4 features contém muitos valores nulos, vamos pagar elas.

In [15]:
base_dados = base_dados.drop(columns=['ContractEndDate', 'WorkExperience', 'ActiveLateCategory', 'WorseLateCategory'])

In [16]:
base_dados

,BidsPortfolioManager,BidsApi,BidsManual,NewCreditCustomer,VerificationType,Age,Gender,AppliedAmount,Amount,Interest,...,InterestAndPenaltyBalance,NoOfPreviousLoansBeforeLoan,AmountOfPreviousLoansBeforeLoan,PreviousRepaymentsBeforeLoan,PreviousEarlyRepaymentsBefoleLoan,PreviousEarlyRepaymentsCountBeforeLoan,NextPaymentNr,NrOfScheduledPayments,PrincipalDebtServicingCost,InterestAndPenaltyDebtServicingCost
0,970,1150,5.0,False,4.0,53,1.0,2125.0,2125.0,20.97,...,433.60,1.0,500.0,590.95,0.0,0.0,NaN,NaN,0.00,51.73
1,1295,0,1705.0,False,1.0,50,1.0,3000.0,3000.0,17.12,...,2291.82,1.0,1800.0,445.26,3000.0,1.0,NaN,NaN,0.00,47.08
2,2700,565,5835.0,True,4.0,44,0.0,10630.0,9100.0,13.67,...,0.00,0.0,0.0,0.00,0.0,0.0,NaN,NaN,259.67,1659.60
3,1115,0,385.0,True,3.0,42,0.0,1500.0,1500.0,40.40,...,2833.83,0.0,0.0,0.00,1500.0,1.0,NaN,NaN,0.00,215.05
4,305,0,785.0,True,4.0,34,1.0,1595.0,1090.0,68.39,...,4215.37,0.0,0.0,0.00,0.0,0.0,NaN,NaN,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179230,2000,0,0.0,True,1.0,38,1.0,2000.0,2000.0,33.79,...,4284.86,0.0,0.0,0.00,0.0,0.0,NaN,NaN,0.00,18.38
179231,6215,70,1155.0,False,4.0,37,0.0,7440.0,7440.0,24.52,...,0.00,2.0,2500.0,986.78,0.0,0.0,NaN,NaN,0.00,0.00
179232,430,0,1055.0,False,1.0,37,0.0,1595.0,1485.0,64.51,...,0.00,3.0,2425.0,2749.65,1200.0,1.0,NaN,NaN,0.00,0.00
179233,3000,0,0.0,True,1.0,58,1.0,3000.0,3000.0,21.62,...,0.00,0.0,0.0,0.00,0.0,0.0,NaN,NaN,0.00,0.00
179234,0,0,1300.0,False,4.0,64,0.0,1300.0,1300.0,16.38,...,0.00,4.0,8000.0,4462.13,2600.0,2.0,NaN,NaN,0.00,2.64

apagando as features (agora só restam as numércias) que possuem mais de 40% dos valores ausentes.

In [17]:
nullFeatures = []
for col in base_dados.columns:
    nullValues = base_dados[col].isnull().sum()
    nullPercentage = nullValues/base_dados.shape[0]
    if nullPercentage > 0.4:
        print(f"{col} : {nullPercentage*100:.2f}%")
        nullFeatures.append(col)
print(nullFeatures)

PlannedPrincipalTillDate : 69.61%
PlannedPrincipalPostDefault : 60.16%
PlannedInterestPostDefault : 60.16%
EAD1 : 60.16%
EAD2 : 60.16%
PrincipalRecovery : 60.16%
InterestRecovery : 60.16%
PrincipalWriteOffs : 57.51%
InterestAndPenaltyWriteOffs : 57.51%
PreviousEarlyRepaymentsBefoleLoan : 67.15%
PrincipalDebtServicingCost : 57.51%
InterestAndPenaltyDebtServicingCost : 57.51%
['PlannedPrincipalTillDate', 'PlannedPrincipalPostDefault', 'PlannedInterestPostDefault', 'EAD1', 'EAD2', 'PrincipalRecovery', 'InterestRecovery', 'PrincipalWriteOffs', 'InterestAndPenaltyWriteOffs', 'PreviousEarlyRepaymentsBefoleLoan', 'PrincipalDebtServicingCost', 'InterestAndPenaltyDebtServicingCost']

In [18]:
remover_quarenta = ['PlannedPrincipalTillDate', 'PlannedPrincipalPostDefault', 'PlannedInterestPostDefault', 'EAD1', 'EAD2', 'PrincipalRecovery', 'InterestRecovery', 'PrincipalWriteOffs', 'InterestAndPenaltyWriteOffs', 'PreviousEarlyRepaymentsBefoleLoan', 'NextPaymentNr', 'NrOfScheduledPayments', 'PrincipalDebtServicingCost', 'InterestAndPenaltyDebtServicingCost']

base_dados = base_dados.drop(columns=remover_quarenta)

In [19]:
base_dados

,BidsPortfolioManager,BidsApi,BidsManual,NewCreditCustomer,VerificationType,Age,Gender,AppliedAmount,Amount,Interest,...,PrincipalOverdueBySchedule,Status,PrincipalPaymentsMade,InterestAndPenaltyPaymentsMade,PrincipalBalance,InterestAndPenaltyBalance,NoOfPreviousLoansBeforeLoan,AmountOfPreviousLoansBeforeLoan,PreviousRepaymentsBeforeLoan,PreviousEarlyRepaymentsCountBeforeLoan
0,970,1150,5.0,False,4.0,53,1.0,2125.0,2125.0,20.97,...,1155.84,Late,969.16,1187.91,1155.84,433.60,1.0,500.0,590.95,0.0
1,1295,0,1705.0,False,1.0,50,1.0,3000.0,3000.0,17.12,...,2436.41,Late,563.59,360.07,2436.41,2291.82,1.0,1800.0,445.26,1.0
2,2700,565,5835.0,True,4.0,44,0.0,10630.0,9100.0,13.67,...,0.00,Repaid,6537.00,1708.47,0.00,0.00,0.0,0.0,0.00,0.0
3,1115,0,385.0,True,3.0,42,0.0,1500.0,1500.0,40.40,...,1035.27,Late,464.73,355.92,1035.27,2833.83,0.0,0.0,0.00,1.0
4,305,0,785.0,True,4.0,34,1.0,1595.0,1090.0,68.39,...,1089.99,Late,0.01,0.00,1089.99,4215.37,0.0,0.0,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179230,2000,0,0.0,True,1.0,38,1.0,2000.0,2000.0,33.79,...,2000.00,Late,0.00,0.00,2000.00,4284.86,0.0,0.0,0.00,0.0
179231,6215,70,1155.0,False,4.0,37,0.0,7440.0,7440.0,24.52,...,NaN,Repaid,7440.00,2664.67,0.00,0.00,2.0,2500.0,986.78,0.0
179232,430,0,1055.0,False,1.0,37,0.0,1595.0,1485.0,64.51,...,NaN,Repaid,1485.00,186.41,0.00,0.00,3.0,2425.0,2749.65,1.0
179233,3000,0,0.0,True,1.0,58,1.0,3000.0,3000.0,21.62,...,0.00,Repaid,3000.00,1974.70,0.00,0.00,0.0,0.0,0.00,0.0
179234,0,0,1300.0,False,4.0,64,0.0,1300.0,1300.0,16.38,...,NaN,Repaid,475.78,152.98,0.00,0.00,4.0,8000.0,4462.13,2.0

vendo a quantidade de nulos das features numericas

In [20]:
null_count_num = base_dados.isnull().sum()
print(null_count_num[null_count_num > 0])

VerificationType                             50
Gender                                       45
MonthlyPayment                             6690
Education                                    50
MaritalStatus                                50
EmploymentStatus                            202
OccupationArea                               91
HomeOwnershipType                          1657
DebtToIncome                                 50
FreeCash                                     50
PlannedInterestTillDate                    1974
LossGivenDefault                           2639
PrincipalOverdueBySchedule                14843
InterestAndPenaltyBalance                  5232
NoOfPreviousLoansBeforeLoan                   9
AmountOfPreviousLoansBeforeLoan               9
PreviousRepaymentsBeforeLoan              62386
PreviousEarlyRepaymentsCountBeforeLoan        9
dtype: int64

In [21]:
base_dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179235 entries, 0 to 179234
Data columns (total 43 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   BidsPortfolioManager                    179235 non-null  int64
 1   BidsApi                                 179235 non-null  int64
 2   BidsManual                              179235 non-null  float64
 3   NewCreditCustomer                       179235 non-null  bool
 4   VerificationType                        179185 non-null  float64
 5   Age                                     179235 non-null  int64
 6   Gender                                  179190 non-null  float64
 7   AppliedAmount                           179235 non-null  float64
 8   Amount                                  179235 non-null  float64
 9   Interest                                179235 non-null  float64
 10  LoanDuration                            179235 non-null  int64
 11  MonthlyPayment                          172545 non-null  float64
 12  UseOfLoan                               179235 non-null  int64
 13  Education                               179185 non-null  float64
 14  MaritalStatus                           179185 non-null  float64
 15  EmploymentStatus                        179033 non-null  float64
 16  OccupationArea                          179144 non-null  float64
 17  HomeOwnershipType                       177578 non-null  float64
 18  IncomeFromPrincipalEmployer             179235 non-null  float64
 19  IncomeFromPension                       179235 non-null  float64
 20  IncomeFromFamilyAllowance               179235 non-null  float64
 21  IncomeFromSocialWelfare                 179235 non-null  float64
 22  IncomeFromLeavePay                      179235 non-null  float64
 23  IncomeFromChildSupport                  179235 non-null  float64
 24  IncomeOther                             179235 non-null  float64
 25  IncomeTotal                             179235 non-null  float64
 26  ExistingLiabilities                     179235 non-null  int64
 27  LiabilitiesTotal                        179235 non-null  float64
 28  RefinanceLiabilities                    179235 non-null  int64
 29  DebtToIncome                            179185 non-null  float64
 30  FreeCash                                179185 non-null  float64
 31  PlannedInterestTillDate                 177261 non-null  float64
 32  LossGivenDefault                        176596 non-null  float64
 33  PrincipalOverdueBySchedule              164392 non-null  float64
 34  Status                                  179235 non-null  object
 35  PrincipalPaymentsMade                   179235 non-null  float64
 36  InterestAndPenaltyPaymentsMade          179235 non-null  float64
 37  PrincipalBalance                        179235 non-null  float64
 38  InterestAndPenaltyBalance               174003 non-null  float64
 39  NoOfPreviousLoansBeforeLoan             179226 non-null  float64
 40  AmountOfPreviousLoansBeforeLoan         179226 non-null  float64
 41  PreviousRepaymentsBeforeLoan            116849 non-null  float64
 42  PreviousEarlyRepaymentsCountBeforeLoan  179226 non-null  float64
dtypes: bool(1), float64(34), int64(7), object(1)
memory usage: 57.6+ MB

separando em numericos e categoricos, como categoricos so existe a 'Status', que é a classe, entao ficou separado em classe e numericos

In [22]:
classe = base_dados['Status']
numericos = base_dados.drop(['Status'], axis=1)

aqui estou preenchendo os valores nulos pela media da sua respectiva coluna

In [25]:
numericos = numericos.fillna(numericos.median())
null_count_num = numericos.isnull().sum()
print(null_count_num[null_count_num > 0])

Series([], dtype: int64)

In [23]:
classe

0           Late
1           Late
2         Repaid
3           Late
4           Late
           ...
179230      Late
179231    Repaid
179232    Repaid
179233    Repaid
179234    Repaid
Name: Status, Length: 179235, dtype: object

In [24]:
numericos

,BidsPortfolioManager,BidsApi,BidsManual,NewCreditCustomer,VerificationType,Age,Gender,AppliedAmount,Amount,Interest,...,LossGivenDefault,PrincipalOverdueBySchedule,PrincipalPaymentsMade,InterestAndPenaltyPaymentsMade,PrincipalBalance,InterestAndPenaltyBalance,NoOfPreviousLoansBeforeLoan,AmountOfPreviousLoansBeforeLoan,PreviousRepaymentsBeforeLoan,PreviousEarlyRepaymentsCountBeforeLoan
0,970,1150,5.0,False,4.0,53,1.0,2125.0,2125.0,20.97,...,0.58,1155.84,969.16,1187.91,1155.84,433.60,1.0,500.0,590.95,0.0
1,1295,0,1705.0,False,1.0,50,1.0,3000.0,3000.0,17.12,...,0.65,2436.41,563.59,360.07,2436.41,2291.82,1.0,1800.0,445.26,1.0
2,2700,565,5835.0,True,4.0,44,0.0,10630.0,9100.0,13.67,...,0.58,0.00,6537.00,1708.47,0.00,0.00,0.0,0.0,0.00,0.0
3,1115,0,385.0,True,3.0,42,0.0,1500.0,1500.0,40.40,...,0.90,1035.27,464.73,355.92,1035.27,2833.83,0.0,0.0,0.00,1.0
4,305,0,785.0,True,4.0,34,1.0,1595.0,1090.0,68.39,...,0.75,1089.99,0.01,0.00,1089.99,4215.37,0.0,0.0,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179230,2000,0,0.0,True,1.0,38,1.0,2000.0,2000.0,33.79,...,0.90,2000.00,0.00,0.00,2000.00,4284.86,0.0,0.0,0.00,0.0
179231,6215,70,1155.0,False,4.0,37,0.0,7440.0,7440.0,24.52,...,0.68,NaN,7440.00,2664.67,0.00,0.00,2.0,2500.0,986.78,0.0
179232,430,0,1055.0,False,1.0,37,0.0,1595.0,1485.0,64.51,...,0.75,NaN,1485.00,186.41,0.00,0.00,3.0,2425.0,2749.65,1.0
179233,3000,0,0.0,True,1.0,58,1.0,3000.0,3000.0,21.62,...,0.65,0.00,3000.00,1974.70,0.00,0.00,0.0,0.0,0.00,0.0
179234,0,0,1300.0,False,4.0,64,0.0,1300.0,1300.0,16.38,...,0.65,NaN,475.78,152.98,0.00,0.00,4.0,8000.0,4462.13,2.0

aqui estou juntando a classe com os numericos pra assim ter a base de dados de volta

In [26]:
base_dados = numericos.join(classe)

In [27]:
base_dados

,BidsPortfolioManager,BidsApi,BidsManual,NewCreditCustomer,VerificationType,Age,Gender,AppliedAmount,Amount,Interest,...,PrincipalOverdueBySchedule,PrincipalPaymentsMade,InterestAndPenaltyPaymentsMade,PrincipalBalance,InterestAndPenaltyBalance,NoOfPreviousLoansBeforeLoan,AmountOfPreviousLoansBeforeLoan,PreviousRepaymentsBeforeLoan,PreviousEarlyRepaymentsCountBeforeLoan,Status
0,970,1150,5.0,False,4.0,53,1.0,2125.0,2125.0,20.97,...,1155.84,969.16,1187.91,1155.84,433.60,1.0,500.0,590.95,0.0,Late
1,1295,0,1705.0,False,1.0,50,1.0,3000.0,3000.0,17.12,...,2436.41,563.59,360.07,2436.41,2291.82,1.0,1800.0,445.26,1.0,Late
2,2700,565,5835.0,True,4.0,44,0.0,10630.0,9100.0,13.67,...,0.00,6537.00,1708.47,0.00,0.00,0.0,0.0,0.00,0.0,Repaid
3,1115,0,385.0,True,3.0,42,0.0,1500.0,1500.0,40.40,...,1035.27,464.73,355.92,1035.27,2833.83,0.0,0.0,0.00,1.0,Late
4,305,0,785.0,True,4.0,34,1.0,1595.0,1090.0,68.39,...,1089.99,0.01,0.00,1089.99,4215.37,0.0,0.0,0.00,0.0,Late
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179230,2000,0,0.0,True,1.0,38,1.0,2000.0,2000.0,33.79,...,2000.00,0.00,0.00,2000.00,4284.86,0.0,0.0,0.00,0.0,Late
179231,6215,70,1155.0,False,4.0,37,0.0,7440.0,7440.0,24.52,...,0.00,7440.00,2664.67,0.00,0.00,2.0,2500.0,986.78,0.0,Repaid
179232,430,0,1055.0,False,1.0,37,0.0,1595.0,1485.0,64.51,...,0.00,1485.00,186.41,0.00,0.00,3.0,2425.0,2749.65,1.0,Repaid
179233,3000,0,0.0,True,1.0,58,1.0,3000.0,3000.0,21.62,...,0.00,3000.00,1974.70,0.00,0.00,0.0,0.0,0.00,0.0,Repaid
179234,0,0,1300.0,False,4.0,64,0.0,1300.0,1300.0,16.38,...,0.00,475.78,152.98,0.00,0.00,4.0,8000.0,4462.13,2.0,Repaid

a feature NewCreditCustomer era do tipo bool, então mudei para numerico

In [28]:
base_dados['NewCreditCustomer'] = base_dados['NewCreditCustomer'].astype(int)
base_dados["NewCreditCustomer"].value_counts()

NewCreditCustomer
1    100402
0     78833
Name: count, dtype: int64

In [29]:
base_dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179235 entries, 0 to 179234
Data columns (total 43 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   BidsPortfolioManager                    179235 non-null  int64
 1   BidsApi                                 179235 non-null  int64
 2   BidsManual                              179235 non-null  float64
 3   NewCreditCustomer                       179235 non-null  int64
 4   VerificationType                        179235 non-null  float64
 5   Age                                     179235 non-null  int64
 6   Gender                                  179235 non-null  float64
 7   AppliedAmount                           179235 non-null  float64
 8   Amount                                  179235 non-null  float64
 9   Interest                                179235 non-null  float64
 10  LoanDuration                            179235 non-null  int64
 11  MonthlyPayment                          179235 non-null  float64
 12  UseOfLoan                               179235 non-null  int64
 13  Education                               179235 non-null  float64
 14  MaritalStatus                           179235 non-null  float64
 15  EmploymentStatus                        179235 non-null  float64
 16  OccupationArea                          179235 non-null  float64
 17  HomeOwnershipType                       179235 non-null  float64
 18  IncomeFromPrincipalEmployer             179235 non-null  float64
 19  IncomeFromPension                       179235 non-null  float64
 20  IncomeFromFamilyAllowance               179235 non-null  float64
 21  IncomeFromSocialWelfare                 179235 non-null  float64
 22  IncomeFromLeavePay                      179235 non-null  float64
 23  IncomeFromChildSupport                  179235 non-null  float64
 24  IncomeOther                             179235 non-null  float64
 25  IncomeTotal                             179235 non-null  float64
 26  ExistingLiabilities                     179235 non-null  int64
 27  LiabilitiesTotal                        179235 non-null  float64
 28  RefinanceLiabilities                    179235 non-null  int64
 29  DebtToIncome                            179235 non-null  float64
 30  FreeCash                                179235 non-null  float64
 31  PlannedInterestTillDate                 179235 non-null  float64
 32  LossGivenDefault                        179235 non-null  float64
 33  PrincipalOverdueBySchedule              179235 non-null  float64
 34  PrincipalPaymentsMade                   179235 non-null  float64
 35  InterestAndPenaltyPaymentsMade          179235 non-null  float64
 36  PrincipalBalance                        179235 non-null  float64
 37  InterestAndPenaltyBalance               179235 non-null  float64
 38  NoOfPreviousLoansBeforeLoan             179235 non-null  float64
 39  AmountOfPreviousLoansBeforeLoan         179235 non-null  float64
 40  PreviousRepaymentsBeforeLoan            179235 non-null  float64
 41  PreviousEarlyRepaymentsCountBeforeLoan  179235 non-null  float64
 42  Status                                  179235 non-null  object
dtypes: float64(34), int64(8), object(1)
memory usage: 58.8+ MB

como vamos prever o risco de inadimplência ou não inadimplência, não fazia sentido ter as amostras 'Current', uma vez que elas não dão uma certeza de pago ou não pago. Então removemos todas as amostras deste tipo.

In [30]:
currentLoans = base_dados[base_dados["Status"]=="Current"]
base_dados = base_dados.drop(currentLoans.index)
base_dados.shape

(121461, 43)

In [31]:
base_dados["Status"].value_counts()

Status
Late      68574
Repaid    52887
Name: count, dtype: int64

Como o computador não entende palavras, renomeamos a classe para 0 (Repaid) e 1 (Late)

In [32]:
base_dados['Status'] = base_dados['Status'].map({'Repaid': 0, 'Late': 1}) # 0 -> pago; 1-> não pago

In [33]:
base_dados["Status"].value_counts()

Status
1    68574
0    52887
Name: count, dtype: int64

e por fim, foi salvo a base de dados pré processsada em outro arquivo.

In [ ]:
base_dados.to_csv('./preprocessed_database.csv',index=False)